<h1>This is a secret page!</h1>

<p>You found my secret page!</p>
<img src="https://i.gifer.com/TLrD.gif" alt="Computer Man" style="width:300px;height:300px;">

<li><a href="/register">Sign-Up!</a></li>
<li><a href="/login">LogIn</a></li>
<li><a href="/logout">Logout!</a></li>